.btn-blank {
    border: none;
    background: none;
    &:hover {
        background: none;
    }
}

[nz-form] {
    max-width: 600px;
    > nz-form-item:last-child {
        margin-bottom: 0px;
    }
  }