<admin-dashboard-new-account (onSubmit)="newAccount($event)"></admin-dashboard-new-account>
<nz-table #editRowTable nzBordered [nzData]="listOfDisplayData">
  <thead>
    <tr>
      <th nzWidth="25%" nzCustomFilter>
        Id
        <nz-dropdown
          nzTrigger="click"
          nzPlacement="bottomRight"
          [nzClickHide]="false"
          nzTableFilter
          #dropdown>
          <i
            nz-icon
            nzType="search"
            class="ant-table-filter-icon"
            [class.ant-table-filter-open]="dropdown.nzVisible"
            nz-dropdown></i>
          <div class="search-box">
            <input
              type="text"
              nz-input
              placeholder="Search name"
              [(ngModel)]="searchValue" />
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="search()"
              class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzWidth="40%">Username</th>
      <th>Group</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td>
        <ng-container>
          {{ data.id }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.username }}
        </ng-container>
      </td>
      <td>
        <dashboard-admin-tag 
          [data]="data"
          [options]="options"
          (onConfirm)="onGroupConfirmation($event)"
          (onCloseTag)="onCloseGroupTag($event)"
          (typing)="onGroupTyping($event)">
        </dashboard-admin-tag>
      </td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!editCache[data.id]?.edit">
            <div class="btn-group">
              <a
                nz-popconfirm
                nzTitle="Sure to delete?"
                (nzOnConfirm)="deleteAccount(data.id)">Delete</a
              >
            </div>
            <div class="btn-group">
              <admin-dashboard-password></admin-dashboard-password>
            </div>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
