<admin-dashboard-new-account (onSubmit)="newAccount($event)"></admin-dashboard-new-account>
<nz-table #editRowTable nzBordered [nzData]="listOfDisplayData">
  <thead>
    <tr>
      <th nzWidth="25%">
        Id
      </th>
      <th nzWidth="40%" nzCustomFilter>
        Username
        <search-comp (onCommit)="onSearchUsername($event)" ></search-comp>
      </th>
      <th nzCustomFilter>
        Group 
        <search-comp (onCommit)="onSearchGroup($event)" ></search-comp>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td>
        <ng-container>
          {{ data.id }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.username }}
        </ng-container>
      </td>
      <td>
        <dashboard-admin-tag 
          [data]="data"
          [options]="options"
          (onConfirm)="onGroupConfirmation($event)"
          (onCloseTag)="onCloseGroupTag($event)"
          (typing)="onGroupTyping($event)">
        </dashboard-admin-tag>
      </td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!editCache[data.id]?.edit">
            <div class="btn-group">
              <a
                nz-popconfirm
                nzTitle="Sure to delete?"
                (nzOnConfirm)="deleteAccount(data.id)">Delete</a
              >
            </div>
            <div class="btn-group">
              <admin-dashboard-password 
                [display]="displayAdminPasswordInput[data.id]"
                [username]="data.username"
                (credentials)="changePassword($event, data.id)">
              </admin-dashboard-password>
            </div>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
