<h1> <i nz-icon nzType="read" nzTheme="outline"></i> Blog header content</h1>
<p class="published-date">26th June 2019</p>
<div class="container">
        <div class="content">
                <p [innerHtml]="content"></p>
        </div>
        <div class="anchors">
                <nz-anchor>
                        <nz-link nzHref="#components-anchor-demo-basic" nzTitle="Basic demo for Angular showcase application 8172 qjwhasdjd qu dasjsdh qudy asjdh qudy asjdh audyq wj"></nz-link>
                        <nz-link nzHref="#components-anchor-demo-static" nzTitle="Static demo"></nz-link>
                        <nz-link nzHref="#api" nzTitle="API">
                                <nz-link nzHref="#nz-anchor" nzTitle="nz-anchor"></nz-link>
                                <nz-link nzHref="#nz-link" nzTitle="nz-link"></nz-link>
                        </nz-link>
                </nz-anchor>
        </div>
</div>
<div class="see-more">
        <h3>See more</h3>
        <div class="related">
                <item-card [card]="card" nz-col nzSpan="6"></item-card>
                <item-card [card]="card" nz-col nzSpan="6"></item-card>
                <item-card [card]="card" nz-col nzSpan="6"></item-card>
                <item-card [card]="card" nz-col nzSpan="6"></item-card>
        </div>
</div>