<ng-container>
    <ng-container *ngFor="let groupItem of data.group | keyvalue">
      <nz-tag nzMode="closeable" (nzOnClose)="onCloseGroupTag($event, groupItem.key, groupItem.value)">{{ groupItem.value }}</nz-tag>  
    </ng-container>
    <nz-tag 
        *ngIf="!isTag(data.id); else onEdit" 
        class="editable-tag" 
        nzNoAnimation 
        (click)="onGroupEdit(data.id)">
      <i nz-icon nzType="plus"></i>
    </nz-tag>
    <ng-template #onEdit> 
        <input 
              type="text"
              class="on-edit_more-input" 
              nz-input 
              nzSize="small"
              (input)="listGroupAccountSync($event.target.value)"
              (keydown.enter)="handleGroupConfirm($event.target.value, data.id)"
              (blur)="handleGroupConfirm($event.target.value, data.id)"
              [nzAutocomplete]="auto"
              [disabled]="onGroupTyping"
              [tag-id]="data.id" 
              (onClickOutSide)="onCloseGroupTagWhenClick($event, data.id)" 
        />
        <nz-autocomplete nzBackfill #auto>
          <ng-container *ngFor="let option of options | limit: 1000">
            <nz-auto-option [nzValue]="option">
                {{ option }}
            </nz-auto-option>
        </ng-container>
        </nz-autocomplete>
    </ng-template>
  </ng-container>