<nz-tabset [nzTabBarExtraContent]="action">
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
    <ng-container *ngIf="tab == 'General'">
      <ng-container *ngTemplateOutlet="general"></ng-container>
    </ng-container>
    <ng-container *ngIf="tab == 'Description'">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </ng-container>
  </nz-tab>
</nz-tabset>

<ng-template #action>
  <button nz-button nzType="primary" class="main-action">Save</button>
  <button nz-button nzType="default" class="main-action">Cancel</button>
</ng-template>

<ng-template #general>
  <div nz-row>
    <div nz-col nzSpan="24" nzLg="12">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">
            Title
          </nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Title is not valid!"
          >
            <input nz-input formControlName="title" id="title" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired
            >Category</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Category is invalid"
          >
            <input
              nz-input
              type="text"
              id="category"
              formControlName="category"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired
            >URL</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="url is invalid">
            <input nz-input type="text" id="url" formControlName="url" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="24"
            nzFor="seoDescription"
            nzRequired
            >SEO Description</nz-form-label
          >
          <nz-form-control
            [nzSm]="20"
            [nzXs]="24"
            nzErrorTip="seoDescription is invalid"
          >
            <textarea
              nz-input
              id="seoDescription"
              formControlName="seoDescription"
              rows="12"
              placeholder="SEO Content will be placed here"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div nz-col nzSpan="24" nzLg="12">
      <preview-seo [data]="preview"></preview-seo>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <md-editor></md-editor>
</ng-template>
