.btn-blank {
    border: none;
    background: none;
    &:hover {
        background: none;
    }
}


.btn-group {
    padding-bottom: 12px;
    .btn-permissions {
        font-size: 85%;
    }
}

.panel {
    display: block;
    .panel-icon:first-child {
        margin-right: 6px;
    }
    .panel-text {
        font-weight: 500;
        letter-spacing: 1px;
    }
}

[nz-form] {
    max-width: 600px;  
    > nz-form-item {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
  }

  