<div nzRow class="btn-group">
  <button class="btn-item" nz-button nzTrigger="click" nzType="primary" (click)="showModal()">
    New Group
  </button>
</div>

<nz-modal
  [nzFooter]="null"
  nzTitle="Add Group"
  [(nzVisible)]="display"
  (nzOnCancel)="closeModal()"
>
  <!-- Step Panel -->
  <nz-steps [nzCurrent]="currentStep">
    <nz-step nzTitle="Add Group Name"></nz-step>
    <nz-step nzTitle="Add Permissions"></nz-step>
  </nz-steps>

  <div class="steps-content">
    <!-- Form Data -->
    <form nz-form [formGroup]="formData" (ngSubmit)="submitForm()">
      <nz-form-item *ngIf="currentStep == 0">
        <nz-form-control nzHasFeedback [nzErrorTip]="groupValidator">
          <input
            formControlName="group"
            nz-input
            type="text"
            placeholder="Group Name"
            autocomplete="Group Name"
          />
          <ng-template #groupValidator let-control>
            <div
              *ngIf="
                formData.get('group')?.dirty &&
                formData.get('group')?.errors as errors
              "
            >
              <ng-container *ngIf="errors?.required">
                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
                Group is required
              </ng-container>
              <ng-container *ngIf="errors?.pattern">
                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
                Group should contains number and letter only
              </ng-container>
              <ng-container *ngIf="errors?.group">
                <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
                Group already exists
              </ng-container>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="data-row select-all" *ngIf="currentStep == 1">
        <nz-checkbox-wrapper (nzOnChange)="selectAll()">
          <div nz-col nzSpan="24" *ngIf="permissions?.length">
            <label
              nz-checkbox
              [ngModel]="isSelectedAll"
              [ngModelOptions]="{ standalone: true }"
              >select all</label
            >
          </div>
        </nz-checkbox-wrapper>
      </div>
      <nz-checkbox-wrapper
        *ngIf="currentStep == 1"
        (nzOnChange)="outputPermissions($event)"
      >
        <div nz-row class="data-row">
          <div nz-col nzSpan="24" *ngFor="let permission of permissions">
            <label
              nz-checkbox
              option
              [ngModel]="checked[permission] ? checked[permission] : false"
              [isChecked]="checked[permission] ? checked[permission] : false"
              (ngModelChange)="onChangeCheckBox($event, permission)"
              [ngModelOptions]="{ standalone: true }"
              [nzValue]="permission"
              >{{ permission }}</label
            >
          </div>
        </div>
      </nz-checkbox-wrapper>
    </form>

    <div nz-row class="data-row" *ngIf="currentStep == 2">
      <div><b>Group Name:</b> {{ data?.name }}</div>
      <div><b>Permissions:</b></div>
      <div *ngFor="let item of data?.permissions" nz-col nzSpan="24">
        - {{ item }}
      </div>
    </div>
    <!-- End Form Data-->
  </div>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="currentStep > 0">
      <span>Previous</span>
    </button>
    <button
      [disabled]="!formData.valid"
      nz-button
      nzType="default"
      (click)="next()"
      *ngIf="currentStep < 2"
    >
      <span>Next</span>
    </button>
    <button
      [disabled]="!formData.valid"
      nz-button
      nzType="primary"
      (click)="submitForm()"
      *ngIf="currentStep === 2"
    >
      <span>Done</span>
    </button>
  </div>
  <!-- End Step Panel -->
</nz-modal>
