.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.search-box {
  background: white;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

i.table-filter-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.search-value {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 9px;
  padding-right: 4px;
  padding-bottom: 2px;
  color: #bfbfbf;
}
