<!-- Table Content-->
<nz-table class="group-table" #rows nzBordered [nzData]="groups">
  <!-- Table header-->
  <thead>
    <tr>
      <th nzWidth="10%" i18n="GroupId|Group Id@@GroupId">
        Id
      </th>
      <th nzWidth="15%" nzCustomFilter i18n="GroupName|Group Name@@GroupName">
        Group
      </th>
      <th nzCustomFilter i18n="GroupPermissions|Group Permissions@@GroupPermissions">
        Permissions
      </th>
      <th i18n="GroupAction|Group Action@@GroupAction" class="group-col-action"></th>
    </tr>
  </thead>
  <!-- End Table header-->
  <!-- Table Body -->
  <tbody>
    <tr *ngFor="let group of rows.data">
      <td>
        <ng-container>{{ group.id }}</ng-container>
      </td>
      <td>
        <ng-container>
          <nz-tag>{{ group.name }}</nz-tag>
        </ng-container>
      </td>
      <td data-permissions>
        <div [class.active]="permissionShow[group.id - 1]" class="group-permissions">
          <div class="row action sticky">
            <nz-tag (click)="showPermission(group.id)" class="toggler permissions">Permissions</nz-tag>
          </div>
          <ng-container *ngIf="permissionShow[group.id - 1]">
            <div class="permission" *ngFor="let permission of jsonParse(group.permission)?.api; index as i">
              <label
                nz-checkbox
                [(ngModel)]="permissionState[i]"
                [nzValue]="permission"
                (ngModelChange)="changePermission($event, group.name, permission)">{{ permission }}</label>
            </div>
          </ng-container>
        </div>
      </td>
      <td data-actions>
        <div class="editable-row-operations">
          <ng-container>
            <div class="btn-group">
              <a
                nz-popconfirm
                nzTitle="Sure to delete?"
                (nzOnConfirm)="deleteGroup(group.id)"
                class="circle round">
                <i class="btn-delete" nz-icon nzType="delete" nzTheme="outline"></i>
              </a>
            </div>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
  <!-- End Table Body -->
</nz-table>
<!-- End Table Content-->
