.action-bar {
  [nz-col] {
    padding: 15px 0;

    .action-btn {
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

search-action {
  float: right;
}

nz-skeleton {
  @media screen and (max-width: 576px) {
    margin-bottom: 12px;
  }
}

.header-container {
  margin-bottom: 10px;
  .title {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.select-action {
  width: 60px;
}
