.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

.custom-width {
  width: 32px;
}

.action-bar {
  [nz-col] {
    padding: 8px 0;

    .action-btn {
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

search-action {
  float: right;
}

nz-skeleton {
  @media screen and (max-width: 576px) {
    margin-bottom: 12px;
  }
}

.header-container {
  margin-bottom: 10px;
  .title {
    font-size: 20px;
    margin-bottom: 0;
  }
}
