nz-content {
    margin: 0 16px;
    @media screen and (max-width: 768px) {
        margin: 0 16px;
    }
}

.global-layout {
    display: flex;
    justify-content: space-between;

    .main-layout {
        width: auto;
        flex: 1 1 auto;
        z-index: 0;
    }
    .sidebar {
        z-index: 1;
        flex: 0 0 auto;
        max-width: 200px;
        background-color: #001529;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
