<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event, validateForm.value)">
  <div nz-row>
    <div nz-col class="action">
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>  
  <div nz-row [nzGutter]="'24'">
    <div nz-col [nzXs]="{ span: 24, offset: 0}" [nzLg]="{ span: 8, offset: 0 }">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="userName" placeholder="async validate try to write JasonWood" />
        <nz-form-explain
          *ngIf="
            (validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors) ||
            validateForm.get('userName')?.pending
          ">
          <ng-container *ngIf="validateForm.get('userName')?.hasError('required')">
            Please input your username!
          </ng-container>
          <ng-container *ngIf="validateForm.get('userName')?.hasError('duplicated')">
            The username is redundant!
          </ng-container>
          <ng-container *ngIf="validateForm.get('userName')?.pending">
            Validating...
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input formControlName="email" placeholder="email" type="email" />
        <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
          <ng-container *ngIf="validateForm.get('email')?.hasError('email')">
            The input is not valid E-mail!
          </ng-container>
          <ng-container *ngIf="validateForm.get('email')?.hasError('required')">
            Please input your E-mail!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
          <nz-form-explain
            *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.hasError('required')"
            >Please input your password!</nz-form-explain
          >
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
        <nz-form-explain *ngIf="validateForm.get('confirm')?.dirty && validateForm.get('confirm')?.errors">
          <ng-container *ngIf="validateForm.get('confirm')?.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="validateForm.get('confirm')?.hasError('confirm')">
            Password is inconsistent!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    </div>
    <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzLg]="{ span: 16, offset: 0 }">
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <nz-form-label [nzSpan]="24" nzRequired>Description</nz-form-label>
          <textarea class="content" formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
          <nz-form-explain *ngIf="validateForm.get('comment')?.dirty && validateForm.get('comment')?.hasError('required')">
            Please write something here!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>